html{
    font-family:sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.info-box{
    position: fixed;
    top: 0;
    width: 450px;
    height: 500px;
    margin: 0 auto;
}
.info-box  li{
    list-style: none;
    float: left;
    width: 150px
}
.info-box  li a{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: black;
    background: red;
    line-height: 3;
    text-align: center;
}
.info-box li a:focus,.info-box li a:hover{
background: #a60000;
color: white;
}
.info-box ul a.active{
background: #a60000;
color: white;
}
.info-box .panels{
    position: relative;
    height: 400px;
    clear: both;
}
.panels article{
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    background: pink;
}
.panels .active-panle{
    z-index: 1;
}
.fake-content{
   background: pink;
   color: aliceblue;
   height: 2000px;
   margin-left: 500px;
}